= form_with(model: dokument, local: true) do |form|
  - if dokument.errors.any?
    #error_explanation
      %h2
        = pluralize(dokument.errors.count, "error")
        prohibited this dokument from being saved:
      %ul
        - dokument.errors.full_messages.each do |message|
          %li= message
  
  .form-grou.row
    .col-sm-2
      %label-col-form-label{:for => "bezeichnung"} Bezeichnung
    .col-sm-10
      = form.text_field :bezeichnung, id: :dokument_bezeichnung
  .form-grou.row
    .col-sm-2
      %label-col-form-label{:for => "speicherdatum"} Speicherdatum
    .col-sm-10
      = form.date_select :speicherdatum, id: :dokument_speicherdatum
  .form-grou.row
    .col-sm-2
      %label-col-form-label{:for => "fahrzeug_id"} Fahrzeug
    .col-sm-10
      = form.collection_select :fahrzeug_id, Fahrzeug.all, :id, :bezeichnung
  .form-grou.row
    .col-sm-2
      %label-col-form-label{:for => "datei"} Datei
    .col-sm-10
      = form.file_field :datei, id: :dokument_datei

  .btn-group
    = button_tag :type => :submit, :class => "btn btn-success" do
      %span.glyphicon.glyphicon-ok
      %span.hidden-sm= t(:ok)
    
    .btn.btn-default= link_to 'Zurück', dokuments_path