<%= form_with(model: dokument, local: true) do |form| %>
  <% if dokument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dokument.errors.count, "error") %> prohibited this dokument from being saved:</h2>

      <ul>
      <% dokument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bezeichnung %>
    <%= form.text_field :bezeichnung, id: :dokument_bezeichnung %>
  </div>

  <div class="field">
    <%= form.label :speicherdatum %>
    <%= form.date_select :speicherdatum, id: :dokument_speicherdatum %>
  </div>

  <div class="field">
    <%= form.label :fahrzeug_id %>
    <%= form.text_field :fahrzeug_id, id: :dokument_fahrzeug_id %>
  </div>

  <div class="field">
    <%= form.label :typ %>
    <%= form.text_field :typ, id: :dokument_typ %>
  </div>

  <div class="field">
    <%= form.label :datei %>
    <%= form.text_field :datei, id: :dokument_datei %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
