<p id="notice"><%= notice %></p>

<div class="navbody">
<header>
  <div class="nav">
    <ul>
      <li class="home"><%= link_to 'Fahrzeuge', fahrzeugs_path %></li>
      <li class="tutorials"><%= link_to 'Dokumente', dokuments_path %></li>
    </ul>
  </div>
</header>
</div>

<br><br>

<table>
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th>Speicherdatum</th>
      <th>Fahrzeug</th>
      <th>Typ</th>
      <th>Datei</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dokuments.each do |dokument| %>
      <tr>
        <td><%= dokument.bezeichnung %></td>
        <td><%= dokument.speicherdatum %></td>
        <td><%= dokument.fahrzeug %></td>
        <td><%= dokument.typ %></td>
        <td><%= dokument.datei %></td>
        <td><%= link_to 'Show', dokument %></td>
        <td><%= link_to 'Edit', edit_dokument_path(dokument) %></td>
        <td><%= link_to 'Destroy', dokument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dokument', new_dokument_path %>
