
%br/

.container
  %table.table.table-striped
    %thead
      %tr
        %th Bezeichnung
        %th Fahrzeug
        %th Speicherdatum
        %th Typ
        %th{:colspan => "3"}
    %tbody
      - @dokuments.each do |dokument|
        %tr
          %td= dokument.bezeichnung
          %td= link_to dokument.fahrzeug.bezeichnung, fahrzeug_url(dokument.fahrzeug.id)
          %td= dokument.speicherdatum
          %td= dokument.typ
          %td= link_to 'Anzeigen', dokument
          %td= link_to 'Bearbeiten', edit_dokument_path(dokument)
          %td= link_to 'Löschen', dokument, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  .btn.btn-primary= link_to 'Neues Dokument', new_dokument_path
