<p id="notice"><%= notice %></p>

<p>
  <strong>Bezeichnung:</strong>
  <%= @dokument.bezeichnung %>
</p>

<p>
  <strong>Speicherdatum:</strong>
  <%= @dokument.speicherdatum %>
</p>

<p>
  <strong>Fahrzeug:</strong>
  <%= @dokument.fahrzeug %>
</p>

<p>
  <strong>Typ:</strong>
  <%= @dokument.typ %>
</p>

<p>
  <strong>Datei:</strong>
  <%= @dokument.datei %>
</p>

<%= link_to 'Edit', edit_dokument_path(@dokument) %> |
<%= link_to 'Back', dokuments_path %>
