%h1 Dokument anzeigen
%br
%br

.container
  %table.table.table-striped
    %tr
      %td.col-sm-3
        %strong Bezeichnung
      %td.col-sm-9
        = @dokument.bezeichnung
    %tr
      %td.col-sm-3
        %strong Speicherdatum
      %td.col-sm-9
        = @dokument.speicherdatum
    %tr
      %td.col-sm-3
        %strong Typ
      %td.col-sm-9
        = @dokument.typ
    %tr
      %td.col-sm-3
        %strong Fahrzeug
      %td.col-sm-9
        = link_to @dokument.fahrzeug.bezeichnung, @dokument.fahrzeug
    %tr
      %td.col-sm-3
        %strong Datei
      %td.col-sm-9
        = @dokument.dateiname

  .btn-group
    - if @dokument.datei && @dokument.typ
      = link_to 'Download', "download_file/#{@dokument.id}", disable_with: 'Downloading...', method: :post, class: "btn btn-warning"
    = link_to 'Bearbeiten', edit_dokument_path(@dokument), class: "btn btn-primary"
    = link_to 'Zur Übersicht', dokuments_path, class: "btn btn-info"
