= form_with(model: fahrzeug, local: true) do |form|
  - if fahrzeug.errors.any?
    #error_explanation
      %h2
        = pluralize(fahrzeug.errors.count, "error")
        prohibited this fahrzeug from being saved:
      %ul
        - fahrzeug.errors.full_messages.each do |message|
          %li= message
  %table.table
    %tr.form-group.row
      %td.col-sm-2
        %label-col-form-label{:for => "bezeichnung"} Bezeichnung
      %td.col-sm-10
        .col-sm-12= form.text_field :bezeichnung, id: :fahrzeug_bezeichnung
    %tr.form-grou.row
      %td.col-sm-2
        %label-col-form-label{:for => "kennzeichen"} Kennzeichen
      %td.col-sm-10
        .col-sm-12= form.text_field :kennzeichen, id: :fahrzeug_kennzeichen
    %tr.form-grou.row
      %td.col-sm-2
        %label-col-form-label{:for => "tuv"} TÜV Termin
      %td.col-sm-10
        .col-sm-12= form.date_select :tuv, id: :fahrzeug_tuv
    %tr.form-grou.row
      %td.col-sm-2
        %label-col-form-label{:for => "baujahr"} Baujahr
      %td.col-sm-10
        .col-sm-12= form.text_field :baujahr, id: :fahrzeug_baujahr
    %tr.form-grou.row
      %td.col-sm-2
        %label-col-form-label{:for => "archiviert"} Archiviert
      %td.col-sm-10
        .col-sm-12= form.check_box :archiviert, id: :fahrzeug_archiviert
    %tr.form-grou.row
      %td.col-sm-2
        %label-col-form-label{:for => "notizen"} Notizen
      %td.col-sm-10
        .col-sm-12= form.text_area :notizen, id: :fahrzeug_notizen
  
  .btn-group
    = button_tag :type => :submit, :class => "btn btn-success" do
      %span.glyphicon.glyphicon-ok
      %span.hidden-sm= t(:ok)
    
    .btn.btn-default= link_to 'Zurück', fahrzeugs_path
