<%= form_with(model: fahrzeug, local: true) do |form| %>
  <% if fahrzeug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fahrzeug.errors.count, "error") %> prohibited this fahrzeug from being saved:</h2>

      <ul>
      <% fahrzeug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bezeichnung %>
    <%= form.text_field :bezeichnung, id: :fahrzeug_bezeichnung %>
  </div>

  <div class="field">
    <%= form.label :kennzeichen %>
    <%= form.text_field :kennzeichen, id: :fahrzeug_kennzeichen %>
  </div>

  <div class="field">
    <%= form.label :tuv, 'TÜV' %>
    <%= form.date_select :tuv, id: :fahrzeug_tuv %>
  </div>

  <div class="field">
    <%= form.label :baujahr %>
    <%= form.number_field :baujahr, id: :fahrzeug_baujahr %>
  </div>

  <div class="field">
    <%= form.label :notizen %>
    <%= form.text_area :notizen, id: :fahrzeug_notizen %>
  </div>

  <div class="field">
    <%= form.label :archiviert %>
    <%= form.check_box :archiviert, id: :fahrzeug_archiviert %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
