<p id="notice"><%= notice %></p>

<div class="navbody">
<header>
  <div class="nav">
    <ul>
      <li class="home"><%= link_to 'Fahrzeuge', fahrzeugs_path %></li>
      <li class="tutorials"><%= link_to 'Dokumente', dokuments_path %></li>
    </ul>
  </div>
</header>
</div>

<br><br>

<table>
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th>Kennzeichen</th>
      <th>TÜV</th>
      <th>Baujahr</th>
      <th colspan="4"></th>
      <th>
        <%= select_tag(:filter, 
          options_for_select([['Alle', 1], ['Aktive', 2], ['Archivierte', 3]], 2), 
          :onchange => 'filter_selection_changed()') %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @fahrzeugs.each do |fahrzeug| %>
      <tr>
        <td><%= fahrzeug.bezeichnung %></td>
        <td><%= fahrzeug.kennzeichen %></td>
        <td><%= fahrzeug.tuv %></td>
        <td><%= fahrzeug.baujahr %></td>
        <td><%= link_to 'Anzeigen', fahrzeug %></td>
        <td><%= link_to 'Bearbeiten', edit_fahrzeug_path(fahrzeug) %></td>
        <td><%= link_to 'Archivieren', fahrzeug, method: :archive %></td>
        <td><%= link_to 'Dokumente', dokuments_path(fahrzeug) %></td>
        <td><%= link_to 'Löschen', fahrzeug, method: :delete, data: { confirm: 'Wirklich löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Fahrzeug', new_fahrzeug_path %>
