%p#notice= notice
.navbody
  %header
    .nav
      %ul
        %li.home= link_to 'Fahrzeuge', fahrzeugs_path
        %li.tutorials= link_to 'Dokumente', dokuments_path
%br/
%br/

.filter 
  = link_to 'Aktive', fahrzeugs_path(:filter => nil, :sort => params[:sort], :col => params[:col])
  = link_to 'Archivierte', fahrzeugs_path(:filter => 1, :sort => params[:sort], :col => params[:col])
  = link_to 'Alle', fahrzeugs_path(:filter => 0, :sort => params[:sort], :col => params[:col])

%table 
  %thead
    %tr
      %th 
        Bezeichnung
        = link_to 'asc', fahrzeugs_path(:sort => ' ASC', :col => :bezeichnung, :filter => params[:filter])
        = link_to 'desc', fahrzeugs_path(:sort => ' DESC', :col => :bezeichnung, :filter => params[:filter])
      %th 
        Kennzeichen       
        = link_to 'asc', fahrzeugs_path(:sort => ' ASC', :col => :bezeichnung, :filter => params[:filter])
        = link_to 'desc', fahrzeugs_path(:sort => ' DESC', :col => :bezeichnung, :filter => params[:filter])
      %th TÜV
      %th Baujahr
      %th{:colspan => "5"}        
  %tbody
    - @fahrzeugs.each do |fahrzeug|
      %tr
        %td= fahrzeug.bezeichnung
        %td= fahrzeug.kennzeichen
        %td= fahrzeug.tuv
        %td= fahrzeug.baujahr
        %td= link_to 'Anzeigen', fahrzeug
        %td= link_to 'Bearbeiten', edit_fahrzeug_path(fahrzeug)
        - if !fahrzeug.archiviert
          %td= link_to 'Archivieren', fahrzeugs_archive_path(:id => fahrzeug.id), method: :post, data: { confirm: 'Wirklich archivieren?' }
        - else
          %td Archiviert
        %td= link_to 'Dokumente', dokuments_path(:f => fahrzeug.id)
        %td= link_to 'Löschen', fahrzeug, method: :delete, data: { confirm: 'Wirklich löschen?' }

%br/
= link_to 'Neues Fahrzeug', new_fahrzeug_path