%h1 Fahrzeug anzeigen
%br
%br

.container
  %table.table.table-striped
    %tr
      %td.col-sm-3
        %strong Bezeichnung
      %td.col-sm-9
        = @fahrzeug.bezeichnung
    %tr
      %td.col-sm-3
        %strong TÜV
      %td.col-sm-9
        = @fahrzeug.tuv
    %tr
      %td.col-sm-3
        %strong Kennzeichen
      %td.col-sm-9
        = @fahrzeug.kennzeichen
    %tr
      %td.col-sm-3
        %strong Baujahr
      %td.col-sm-9
        = @fahrzeug.baujahr
    %tr
      %td.col-sm-3
        %strong Notizen
      %td.col-sm-9
        = @fahrzeug.notizen

.btn-group
  = link_to 'Bearbeiten', edit_fahrzeug_path(@fahrzeug), class: "btn btn-primary"
  = link_to 'Zurück', fahrzeugs_path, class: "btn btn-default"
